name: CI NAUTIPRO USER DASHBOARD WEB
on:
  push:
    branches: ["main"]

jobs:
  build:
    environment: main
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Connect to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/nautipro-user-dashboard:latest

  deployment:
    needs: build
    environment: main
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            whoami
            echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

            docker stop nautipro-user-dashboard || true
            docker rm nautipro-user-dashboard || true

            docker pull ${{ secrets.DOCKER_USERNAME }}/nautipro-user-dashboard:latest

            docker run -d \
              -p 3111:3111 \
              --restart unless-stopped \
              --name nautipro-user-dashboard \
              ${{ secrets.DOCKER_USERNAME }}/nautipro-user-dashboard:latest